@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f5f5f5;
}

body[data-theme='dark'] {
  background: #141414;
}

#root,
body,
.ant-layout {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 !important;
}

.ant-bubble-list-scroll-box,
.ant-bubble-list-autoscroll {
  width: 100% !important;
}


h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  unicode-bidi: isolate;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  unicode-bidi: isolate;
}
